@media (max-width: 800px) {
	body {
		background: #c32e2e;
		color: blue#fff;
		max-width: 100%;
	}

	h1 {
		font-size: 2em;
	}

	img {
		width: 260px;
		max-width: 100%;
	}

	.main-photo {
		float: none;
		max-width: 100%;
	}

	.about-niki {
		width: auto;
		max-width: 100%;
		float: none;
		margin: 10px;
	}

	.mobile-view {
		display: block;
		border-bottom: 2px solid #FFA500;
		margin-bottom: 10px;
	}

	.dates,
	.vertical-line,
	.horizontal-line,
	.dot,
	.popup,
	.event-description {
		display: none;
	}

	.footer {
		position: static;
	}
}