@media (max-width: 800px) {
	body {
		background: #c32e2e;
		color: blue#fff;
		max-width: 100%;
	}

	h1 {
		font-size: 2em;
	}

	a {
		color: #f5ddb1;
		text-decoration: underline;
	}

	a:focus {
	color: #ecc379;
	}

	img {
		/* width: 260px; */
		max-width: 100%;
		object-fit: cover;
	}

	.header {
		margin-bottom: 2em;
	}

	.main-photo {
		float: none;
		max-width: 100%;
	}

	.about-niki {
		width: auto;
		max-width: 100%;
		float: none;
		margin: 10px;
	}

	.dates,
	.vertical-line,
	.horizontal-line,
	.dot,
	.popup,
	.event-description {
		display: none;
	}

	.mobile-view {
		display: block;
		border-bottom: 2px solid #FFA500;
		margin-bottom: 2em;
	}

	.mobile-view h3 {
		color: #4b2020;
		font-size: 1.2em;
		margin-bottom: 0.9em;
	}

	.mobile-view p {
		line-height: 1.3em;
		margin-bottom: 0.5em;
	}

	.footer {
		position: static;
	}

	.footer p,
	.author {
		margin-left: 10px;
		margin-bottom: 1em;
	}
}